# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/wrapper/maven-wrapper.jar
.mvn/wrapper/maven-wrapper.properties

# Java
*.class
*.jar
*.war
*.ear
*.logs
*.iml
.idea/
target/
.mvn/

# Angular
/frontend/dist
/frontend/tmp
/frontend/out-tsc
/frontend/bazel-out
/frontend/node_modules
/frontend/.angular
.angular/
npm-debug.log
yarn-error.log

# IDEs
.idea/                  # IntelliJ IDEA
.vscode/                # VS Code
.classpath
.project
.settings/
.ds_store

# Logs
*.log
logs/

# Aulas de teste
*Test.class

# Outros
*.ipr
*.iws

# Docker
.docker/
*.env

# System Files
.DS_Store
Thumbs.db